<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Notes App</title>
  <style>
    body {
      font-family: 'Helvetica', sans-serif;
      background-color: #2c3e50;
      color: #ecf0f1;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }

    h1 {
      color: #3498db;
    }

    p {
      color: #bdc3c7;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      background-color: #34495e;
      border: 1px solid #2c3e50;
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    form {
      margin-top: 20px;
      background-color: #34495e;
      border: 1px solid #2c3e50;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #bdc3c7;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: #ecf0f1;
      border: none;
      border-radius: 5px;
    }

    button {
      background-color: #2ecc71;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #27ae60;
    }

    a {
      color: #3498db;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      color: #2980b9;
    }
  </style>
</head>
<body>
  <h1>Welcome to Notes App</h1>

  <% if (user) { %>
    <p>Logged in as <%= user.username %></p>
    <h2>Your Notes:</h2>
    <ul>
      <% notes.forEach(note => { %>
        <li>Title: <%= note.title %>, Content: <%= note.content %></li>
        <button class="share-button" onclick="shareNote('<%= note._id %>')">Share Note</button>

      <% }); %>
    </ul>

    <h2>Create a New Note:</h2>
    <form action="/notes" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>
      <br>
      <button type="submit">Create Note</button>
    </form>
  <% } else { %>
    <p>This is the home page of our application. You can navigate to other pages using the links below:</p>
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  <% } %>
  <script>
    function shareNote(noteId) {
        const username = prompt('Enter the username to share the note with:');

        if (username) {
        fetch(`/notes/share/${noteId}`, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username }),
        })
            .then(response => {
            if (!response.ok) {
                alert(`Failed to share note: ${response.statusText}`);
            }
            return response.json();
            })
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }
  </script>
</body>
</html>
